.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.plan-1 {
  background-image: url("../images/selectors/unchecked.png");
}
.plan-2 {
  background-image: url("../images/selectors/unchecked.png");
}
.three-card {
  background-image: url("../images/selectors/unchecked.png");
}

.cc-selector input:active + .card-cc {
  background-image: url("../images/selectors/checked.png");
  opacity: 0.9;
}
.cc-selector input:checked + .card-cc {
  background-image: url("../images/selectors/checked.png");
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.card-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 35px;
  height: 30px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1) grayscale(1) opacity(1);
  -moz-filter: brightness(1) grayscale(1) opacity(1);
  filter: brightness(1) grayscale(1) opacity(1);
}
.card-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
