/* paragraph , title-md , currency */

.selector-title {
  font-size: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: medium;
  color: black;
}

.selector-paragraph {
  font-size: 15px;
  margin-left: 2px;
  font-family: "Nunito";
  /* font-style: normal; */
  text-align: start;
  line-height: 10px;
  font-weight: lighter;
  color: #6a6a6a;
}

.selector-currency {
  color: #fbaf02;
  font-size: 30px;
  font-weight: bold;
}

.custom-line {
  color: black;
  /* border: 1px solid black; */
}
