@font-face {
  src: url(../../public/fonts/Nunito-Regular.ttf) format(ttf);
  font-family: Nunito-Regular;
}
@font-face {
  src: url(../../public/fonts/Nunito-Bold.ttf) format(ttf);
  font-family: Nunito-Bold;
}
@font-face {
  src: url(../../public/fonts/Nunito-Italic.ttf) format(ttf);
  font-family: Nunito-Italic;
}
@font-face {
  src: url(../../public/fonts/Nunito-ExtraBold.ttf) format(ttf);
  font-family: Nunito-ExtraBold;
}
@font-face {
  src: url(../../public/fonts/Nunito-Light.ttf) format(ttf);
  font-family: Nunito-light;
}
@font-face {
  src: url(../../public/fonts/Nunito-SemiBold.ttf) format(ttf);
  font-family: Nunito-SemiBold;
}
@font-face {
  src: url(../../public/fonts/Nunito-Black.ttf) format(ttf);
  font-family: Nunito-Black;
}
