* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  max-width: 100%;
}
/* Desktops Devices*/
@media only screen and (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    background-color: black;
  }
  .slider {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 1.5%;
  }
  .context {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 1.5%;
  }
}
/* Medium Devices */
@media only screen and (max-width: 500px) {
  .body {
    position: relative;
  }
  .slider {
    background-color: burlywood;
    position: absolute;
    top: 0%;
  }
  .context {
    background-color: greenyellow;
    position: absolute;
    width: 100%;
    top: 50%;
  }
  .context-body {
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
  }
  .title-1,
  h1 {
    font-weight: bold;
    font-size: 25px;
  }
  .title-2,
  h3,
  p {
    font-weight: normal;
    font-size: 15px;
  }
}
