* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: brown; */
}
/* Desktops Devices*/
@media only screen and (max-width: 1200px) {
  .slider {
    /* background-color: black; */
    width: 100%;
  }
  .context-body {
    /* background-color: brown; */
    padding: 5%;
    margin: 5%;
    width: 100%;
    height: 100%;
  }
  .title-1 {
    font-size: 250px;
    font-weight: bold;
  }
  .title-2 {
    font-size: 20px;
  }
  .paragraph {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1200px) {
  .slider {
    /* background-color: black; */
    width: 100%;
  }
  .context-body {
    background-color: greenyellow;
    padding: 10%;
    width: 100%;
    height: 100%;
  }
  .title-1 {
    font-size: 15px;
    font-weight: bold;
  }
  .title-2 {
    font-size: 15px;
  }
  .paragraph {
    font-size: 15px;
  }
}
/* Medium Devices */
@media only screen and (max-width: 768px) {
  .slider {
    /* background-color: black; */
    width: 100%;
  }
  .context-body {
    /* background-color: red; */
    margin-top: 10%;
    padding: 5%;
    margin: 5%;
    width: 100%;
    height: 100%;
  }
  .title-1 {
    font-size: 25px;
  }
  .title-2 {
    font-size: 20px;
  }
  .paragraph {
    font-size: 15px;
  }
}

/* Smaller Devices */
@media only screen and (max-width: 540px) {
  .slider {
    /* background-color: black; */
    width: 100%;
  }
  .context-body {
    /* background-color: orangered; */
    margin-top: 10%;
    padding: 5%;
    width: 100%;
    height: 100%;
  }
  .title-1 {
    /* font-weight: bold; */
    font-size: 25px;
  }
  .title-2 {
    /* font-weight: normal; */
    font-size: 20px;
  }
  .paragraph {
    font-size: 15px;
  }
}
