.div-layout {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 10px;
  /* padding: 10px; */
}

.div-container {
  padding: 25px 50px;
  /* margin: 0px 100px; */
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pg_name,
#pg_email,
#contact,
#address,
#city {
  font-size: 25px;
}

.btn-join {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
