* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.nav-item {
  font-size: 10px;
}
@media only screen and (min-width: 360px) {
  .navbar {
    position: sticky;
    display: flex;
    justify-content: center;
    background-color: green;
    height: 50px;
    width: 100%;
  }
}
